<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Copy Calculator V2</title>
  <link rel="stylesheet" href="dist/css/styles.min.css">
</head>
  <body>
    <div class="container mt-4 mt-4" id="app">
    <h3 class="text-black mb-4 mt-4 pl-4">Kopie Berekenaar <span class="text-danger">V2</span></h3>
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body pt-4">
            <h5 class="card-title pl-2 mt-1">
              Vul de onderstaande tabel in
              <button class="btn btn-success btn-sm mb-3" style="float:right;" v-on:click="addListItem">Nieuwe regel</button>
              <button class="btn btn-dark btn-sm mb-3 mr-2" style="float:right;" v-on:click="resetListItems">Herstellen</button>
            </h5>
            <p class="card-text">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Formaat</th>
                    <th>Aantal originele <small class="text-dark">pagina's per bestand</small></th>
                    <th>Hoeveel afdrukken per orgineel</th>
                    <th class="text-center">Totaal kopieën</th>
                    <th class="text-center">Prijs p/c</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in list">
                    <td class="input-nopadding">
                      <select class="form-control" v-model="item.size">
                        <option value="A4">A4</option>
                        <option value="A3">A3</option>
                      </select>
                    </td>
                    <td class="input-nopadding">
                      <input type="number" class="form-control" v-model="item.original_pages" @change="validateOrignalPages(item)">
                    </td>
                    <td class="input-nopadding">
                      <input type="number" class="form-control" v-model="item.amount" @change="validateAmount(item)">
                    </td>
                    <td class="input-nopadding text-center">
                      <p class="text-dark mt-2 mb-0">{{ calculateItemTotalAmount(item) }}</p>
                    </td>
                    <td class="input-nopadding text-center">
                      <p class="text-dark mt-2 mb-0">{{ calculateItemTotalPrice(item) }}</p>
                    </td>
                    <td class="input-nopadding">
                      <button class="btn btn-danger btn-block" v-on:click="deleteListItem(item)">Verwijderen</button>
                    </td>
                  <tr>
                </tbody>
              </table>
            </p>
            <div class="col-md-4 col-sm-12 offset-md-8 mt-4">
             <div v-if="hasCopies('A4')">
              <p class="text-left mb-1 ml-3 lead">Totaal A4</p>
                <table class="table total shadow-sm">
                  <tbody>
                    <tr>
                      <td class="text-right font-weight-bold">Totaal aantal kopieën:</td>
                      <td class="text-center">{{ totalInfoOfType('A4').total_copies }}</td>
                    </tr>
                    <tr>
                      <td class="text-right font-weight-bold">Prijs excl. BTW:</td>
                      <td class="text-center">{{ totalInfoOfType('A4').total_price }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div v-if="hasCopies('A3')">
                <p class="text-left mb-1 ml-3 lead">Totaal A3</p>
                <table class="table total shadow-sm">
                <tbody>
                  <tr>
                    <td class="text-right font-weight-bold">Totaal aantal kopieën:</td>
                    <td class="text-center">{{ totalInfoOfType('A3').total_copies }}</td>
                  </tr>
                  <tr>
                    <td class="text-right font-weight-bold">Prijs excl. BTW:</td>
                    <td class="text-center">{{ totalInfoOfType('A3').total_price }}</td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src='dist/js/javascript.min.js'></script>
  </body>
</html>
