html, body {
  background-color: #ecf0f1;
}

#app {
  margin-bottom: 35px;
}

.form-control {
  margin-bottom: 0px;
}

.input-nopadding {
  padding: 0px !important;
}

.input-nopadding > input, .input-nopadding > select, .input-nopadding > input:focus, .input-nopadding > select:focus, .input-nopadding > button {
  margin: 0px !important;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
  height: 40px;
}

.container {
  max-width: 1200px;
}

.table.total > tbody > tr::first-child() > th {
  border-top: 0px;
}